@{
    ViewBag.Title = "Pagina principal";
}
<div class="row">
    <div class="box">
        <div class="col-lg-12 text-center">
            <div id="carousel-example-generic" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators hidden-xs">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive img-full" src="~/Content/img/slide-1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="~/Content/img/slide-2.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="~/Content/img/slide-3.jpg" alt="">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
            <h2 class="brand-before">
                <small>Bem-vindo</small>
            </h2>
            <h1 class="brand-name">Seu Serviço</h1>
            <hr class="tagline-divider">
            <h2>
                <small>
                    By
                    <strong>Thiago</strong>
                </small>
            </h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                Build a website
                <strong>worth visiting</strong>
            </h2>
            <hr>
            <img class="img-responsive img-border img-left" src="~/Content/img/intro-pic.jpg" alt="">
            <hr class="visible-xs">
            <p>Serviço público é um conjunto de atividades e serviços ligadas à administração estatal através de seus agentes e representantes, mas também exercida por outras entidades, mesmo que particulares, sempre visando promover o bem-estar à disposição da população.</p>
            <p>Para a fruição direta por seus membros individualmente. Estas atividades, prestadas pelo Estado para a sociedade, são desempenhadas pelos funcionários públicos que estão integrados nas entidades governamentais, tais como entidades político-administrativas, de direito público e de segurança pública.</p>
            <p>Serviço público para a jurista brasileira Maria Sylvia di Pietro é “toda atividade material que a lei atribui ao Estado para que exerça diretamente ou por meio de seus delegados, com o objetivo de satisfazer concretamente às necessidades coletivas, sob regime jurídico total ou parcialmente público</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                Beautiful boxes
                <strong>to showcase your content</strong>
            </h2>
            <hr>
            <p>Serviço público para a jurista brasileira Maria Sylvia di Pietro é “toda atividade material que a lei atribui ao Estado para que exerça diretamente ou por meio de seus delegados, com o objetivo de satisfazer concretamente às necessidades coletivas, sob regime jurídico total ou parcialmente público.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
    </div>
</div>